:root {
  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
}
body {
  font-family: "Outfit";
  background-color: var(--slate300);
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div {
  box-sizing: border-box;
  width: 320px;
  height: 499px;
  background-color: var(--white);
  border-radius: 25px;
  padding: 16px 16px 40px;
}
img {
  width: 288px;
  height: 288px;
  border-radius: inherit;
}
p:first-of-type {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  color: var(--slate900);
}
P:nth-of-type(2){
  letter-spacing: 0.2px;
  line-height: 140%;
  color: var(--slate500);
}

